@model Mojaz.Application.DTOs.Email.Templates.TestResultEmailData
@{
    ViewBag.Title = "Test Result";
}
@section Ar {
    <h2 style="color:#006C35;">š ŪŐ… «Š«ő »«—</h2>
    <p>šśŕ «Š«ő »«—: @Model.TestTypeAr</p>
    <p>«Šš ŪŐ…: @Model.ResultAr</p>
    <p>«ŠŌ—Ő…: @Model.Score</p>
}
@section En {
    <h2 style="color:#006C35;">Test Result</h2>
    <p>Test Type: @Model.TestTypeEn</p>
    <p>Result: @Model.ResultEn</p>
    <p>Score: @Model.Score</p>
}
